**/*.d.ts
**/*.js
**/*.mjs
**/*.cjs
**/*.json
**/*.mdx
**/*.md
**/*.graphql
**/*.gql
**/*.yaml
**/*.yml
**/*.html
**/*.css
**/*.scss
**/*.less
**/*.styl
**/*.svg
**/*.png
**/*.jpg
**/*.jpeg
**/*.gif
**/*.ico
**/*.webp
**/*.avif
**/*.eot
**/*.ttf
**/*.woff
**/*.woff2
**/*.mp4
**/*.webm
**/*.wav
**/*.mp3
**/*.m4a
**/*.aac
**/*.oga
**/*.ogv
**/*.ogm
**/*.mp4
**/*.m4v
**/*.webm
**/*.wmv
**/*.mov
**/*.mkv
**/*.mpg
**/*.mpeg
**/*.3gp
**/*.3g2
**/*.tsbuildinfo
.next/
node_modules/
coverage/
dist/
build/
out/
.DS_Store
*.pem
*.log
.env*
!.env.example
